{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
  <h1 class="mb-3">Products Dashboard</h1>
  <hr />
  <!-- Edit Wigets -->
  <button class="btn btn-warning" hx-get="{% url 'unmapped_products_partial' %}" hx-target="#modal-body"
    data-bs-toggle="modal" data-bs-target="#globalModal">
    ⚠️ View Unmapped Products
  </button>

  <hr />
  <!-- Products Table -->
  <table class="table table-striped table-hover align-middle">
    <thead>
      <tr>
        <th>Name</th>
        <th>SKU</th>
        <th>Categories</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
      <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.sku }}</td>
        <td>
          {% for cat in product.categories.all %}
            <span class="badge bg-secondary">{{ cat.name }}</span>
          {% empty %}
            <span class="text-muted">—</span>
          {% endfor %}
        </td>
        <td>
          <a href="#" class="btn btn-sm btn-primary">Edit</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

